.post {
  padding: 18rem 10rem 10rem;
}

@media screen and (max-width: 600px) {
  .post {
    padding: 9rem 5rem 5rem;
  }
}
.post-content h1 {
  margin-top: 2rem;
  font-size: 3.2rem;
  border-bottom: 0.1rem solid #1d263b;
}

.post-content h2 {
  margin-top: 2rem;
  font-size: 2.6rem;
}

.post-content h3 {
  margin-top: 1rem;
  font-size: 2.2rem;
}

.post-content h4 {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 1.8rem;
}

.post-content ul,
.post-content ol {
  margin-top: 1rem;
  font-size: 1.6rem;
  margin-left: 3rem;
  list-style-type: decimal;
}

.post-content li ul {
  margin-top: 0rem;
  font-size: 1.6rem;
  margin-left: 3rem;
  list-style-type: lower-alpha;
}

.post-content a {
  color: #5C6784
}

.post-content p {
  font-family: 'Montserrat';
  text-align: justify;
  line-height: 2.4rem;
}

.byline {
  font-size: 1.6rem;
}
.date {
  font-size: 1.2rem;
}

.post-tags {
  margin-top: 2rem;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.post-tag {
  background-color: gainsboro;
  color: #1D263B;
  border-radius: .5rem;
  padding: .2rem;
  margin-right: 0.5rem;
}

